server {
	listen	80 default_server;

	root	/usr/share/phpldapadmin/htdocs;

	index	index.php;

	location ~ \.php$ {
		include fastcgi_params;
                fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
	}
}
